<h1>Inbox should show the last message of all the sent/received message threads</h1>

<p>
  <% @inbox_records.each do |record| %>
    <p>
      <%= User.find_by_id(record.chatmate).fname %>:
      <%= record.message %>
      <%= link_to "Reply/View", personal_message_path(receiver: record.chatmate) %>
      <% if record.read==false %>
        (Unread)
      <% end %>
      <% if record.sent==true %>
        (Sent)
      <% end %>
    </p>
  <% end %>
</p>

