<p>
  <ul>
    <% @circles.each do |circle| %>
      <%= circle.name %>
      <%= link_to "Accept", circle_request_path(user_id: current_user.id, circle_id: circle.id, user_status: 1), method: :post %>
      <%= link_to "Decline", circle_request_path(user_id: current_user.id, circle_id: circle.id, user_status: 2), method: :post %>
    <% end %>
  </ul>
</p>
