<h1> This is LIHP </h1>

<h2>People working on the same technologies in your city</h2>

<ul class="list-unstyled">
  <% @tech_details.each do |tech, user_details| %>
    <% next if user_details.size==0 %>
    <li><%= tech %></li>
      <ul>
        <% user_details.each do |u| %>
          <li><%= u['fname'] %></li>
        <% end %>
      </ul>
  <% end %>
</ul>


<ul class="list-unstyled">
  <% @s_t_users.each do |type, users| %>

    <% if type == :tutor %>
      <% heading = "Tutors near you:" %>
    <% elsif type == :student %>
      <% heading = "Students near you:" %>
    <% else %>
      <% heading = type %>
    <% end %>

    <li><%= heading %></li>
      <ul>
        <% users.each do |u| %>
          <li><%= u.email %></li>
        <% end %>
      </ul>
  <% end %>
</ul>
