<h1>In similar projects</h1>
params[:projects] = @similar_platform_projects

  <% @similar_platform_projects.each do |p| %>
    <p>
    Dev's name:   <%= p['fname'] %> </br>
    Project name:   <%= p['name'] %> </br>
    Project platform:   <%= p['platform'] %> </br>
    <%= link_to "Send Message", new_message_path %>
    </p>
  <% end %>
