<h1>My technologies</h1>

<p>
  <% current_user.technologies.each do |t| %>
    <p>
      <%= t.name %>
      <%= link_to 'Delete', technology_path(t.id), method: :delete, data: {confirm: "You sure?"} %>
    </p>
  <% end %>
</p>
