<h1>My Circles</h1>

<p>
  <% @user_circles.each do |circle| %>
    <p>
      <%= circle.name %>
      <%= link_to "Show Circle", circle_path(circle.id) %>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Send a request to join your circle
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </p>
  <% end %>
</p>



